@media only screen and (min-width: 32.5em) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        
    }
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 0.67em;
    margin-right: 0px;
    margin-left: 0px;
}
nav ul.hide {
    display: block;
}

main {
    max-width: 500px;
    margin: 0 auto;
}