@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');
* {
  box-sizing: border-box; 
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.4em;
}
 
a {
  text-decoration: none;
  font-size: .7em;
}

a:link, a:visited, a:active {
 
  color: #606a6be1;
}
a:hover{
  color: blue;
}
img {
  width: 15%;
  box-shadow: 0 10px 6px -6px #777;
  border: .5px solid lightgreen;
}

.logo {
  width: 75px;
}

#typographygrid div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* BASE */

#container {
  min-width: 400px;
  margin: 25px auto;
  border: 10px solid rgb(152 205 212);
  padding: 15px 20px 20px 20px;
}

header, footer {
  padding: 10px;
  background-color: #536878;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  color: white;
  text-align: center;
}
footer p {
color: blueviolet;
}
/* NAV */
nav ul {
  background-color: #bed;
  text-align: center;
box-shadow: 0 2px 15px rgba(181, 190, 199, 0, 993);



}

/* HEADER */

h1 {
  font-size: 3em;
  margin-bottom: 0;
  letter-spacing: 1.3px;
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 32px 0 40px 0;
  grid-gap: 15px;
}

 ul {
  border-radius: 3px;
  padding: 20px 10px;
  list-style: none;
}

/*li:first-child {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 3px 0;
  border-bottom: 1px solid white;
}

li:nth-of-type(4) {
  margin: 15px 0 20px 0;
} */

/* FOOTER */

footer {
  line-height: 2em;
  margin-top: 20px;
  padding: 15px 0;
}

#container > p a
{
  font-size: 1em;
}

#container > p a:hover,
footer a:hover
nav a:hover {
  color: rgb(96 177 188);
}

#currentDate {
  display: none;
}

footer a,
nav a {
  font-size: 1em;
}
